.main-container {
    width: 312px;
    display: flex;
    flex-wrap: wrap;

    .value-container {
        width: 100px;
        height: 30px;
        position: relative;
        margin: 2px;
        background: #007BFF;
        border-radius: 5px;
        text-align: center;
        color: #fff;
        line-height: 30px;
        font-weight: bolder;
        cursor: pointer;

        &:hover .value-button {
            display: block;
            transition: 0.5ms;
        }

        .value-button {
            transform: translate(-50%, -50%);
            width: 100px;
            display: none;
            position: absolute;
            left: 50%;
            top: 50%;
            height: 38px;
            transition: 0.5ms;

            button {
                border: 0;
                padding: 0 6px 0 6px;
                font-size: 13px;
                color: #fff;
                border-radius: 3px;
                transition: 0.5ms;
                line-height: 24px;
                margin: 1px;

                &:hover {
                    color: #000;
                }
            }
        }
    }
}

.photo-upload-container {
    width: 150px;
    height: 150px;
    border: 1px solid silver;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    background: #F4F6F9;

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;

        .fa-camera {
            &:hover {
                transform: scale(1.3);
            }
        }
    }
}

.primary-photo {
    border: 2px solid #007BFF;

    &:after {
        content: 'Primary';
    }
}

.preview-photo {
    cursor: pointer;
}

.customer-list {
    margin-top: 5px;
    cursor: pointer;

    li {
        list-style: none;
        border-bottom: 1px solid silver;
        padding: 3px 0;

        &:hover {
            color: #007BFF;
        }
    }
}

.quantity-button {
    border: none;
    background: #007BFF;
    color: #fff;
    border-radius: 5px;
    padding: 0 8px;
    margin: 0 10px;

    &:hover {
        background: #007BFFDB;
    }

    &:disabled {
        background: gray;
    }
}

.quantity-input {
    border: none;
    outline: none;
    width: 40px;
    background: #DADADAD3;
}

.order-product-container {
    background: #DADADAD3;
    border-radius: 5px;
    margin: 5px 0;
    border: #e2c9f9;
    box-shadow: 0 0 4px silver;
}

.order-details-confirmation {
    h4 {
        color: #007BFF;
    }

    .company {
        strong {
            color: #007BFF;
        }
    }
    address {
        font-size: 14px;
    }
}

.report-card {
    box-shadow: 0 0 5px silver;
    transition: 0.5ms;
    cursor: pointer;
    &:hover {
        transform: scale(1.03);
    }
    i {
        color: #007BFF;
    }
    h6, h4 {
        font-weight: 100;
    }
    h4 {
        color: #007BFF;
    }
}
